---
import Layout from '../layouts/Prerelease.astro';
import { Icon } from 'astro-icon/components'
---

<Layout title="Bio  // GOVNRS">
  <div class="container flex flex-col max-w-mobileLayout h-full">
    <h1 class="flex flex-row justify-center uppercase font-Ftra text-light text-[1.5rem] text-olive mb-8">
      Bio
    </h1>

    <p class="text-black mb-4 font-Ftra">Formed in 2023 by John Anderson and Justin Burrow, GOVNRS set out to blend '80s synth textures with a modern new wave sound, evoking the cinematic nostalgia of growing up in that era. Drawing inspiration from the lush atmospheres of classic '80s films, the band crafts songs that feel like a soundtrack to a dream you forgot you had.</p>

    <p class="text-black mb-4 font-Ftra">To complete their sound, they brought in James Thompson (The Killingtons), whose vocal harmonies add depth and emotion, elevating their music into something both timeless and immersive.</p>

    <p class="text-black mb-4 font-Ftra">If you love bands like DIIV, M83, or early Smashing Pumpkins, you'll feel right at home with GOVNRS—a band that bridges the past and the present with shimmering synths, dreamy guitars, and melodies that linger long after the music fades.</p>
  </div>
</Layout>