---
import Layout from '../layouts/Prerelease.astro';
import { Icon } from 'astro-icon/components'
---

<Layout title="GOVNRS">
  <div class="container flex flex-col max-w-mobileLayout">
    <h1 class="flex flex-row justify-center">
      <Icon name="GOVNRS-logo" class="w-full text-olive text-[6rem] md:text-[9rem]" title="GOVNRS - official music site" />
    </h1>

    <h2 class="text-center mb-8 md:mb-16 uppercase font-Ftra italic text-sm md:text-[1.4rem] tracking-wider text-olive">Songs from the Evening - Releases Fall 2024</h2>

    <img src="GOVNRS-SFTE-cover.jpg" alt="Songs from the Evening - Releases Fall 2024" class="w-full">
  </div>
</Layout>