---
import Layout from '../layouts/Layout.astro';
---

<Layout title="GOVNRS">
  <div class="flex flex-row items-end h-screen justify-stretch grow overflow-clip">
    <img src="GOVNRS-logo-1.svg" alt="GOVNRS" class="w-[100vw] mx-auto transform scale-[117%] opacity-15">
  </div>
</Layout>

<style>

</style>
