---
import Layout from '../layouts/Prerelease.astro';
import { Icon } from 'astro-icon/components'
---

<Layout title="Music  // GOVNRS">
  <div class="container flex flex-col max-w-mobileLayout h-full">
    <h1 class="flex flex-row justify-center uppercase font-Ftra text-light text-[1.5rem] text-olive">
      Songs From The Evening
    </h1>
    <iframe style="border-radius:12px; margin-top: 30px;" src="https://open.spotify.com/embed/album/5ilPC60cjo4vXTt2KvZfNY?utm_source=generator&theme=0" width="100%" height="600" frameborder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
  </div>
</Layout>