---
import Layout from '../layouts/Layout.astro';
---

<Layout title="music // GOVNRS">
  <div class="flex flex-row items-end h-screen justify-stretch grow overflow-clip bg-white">

  </div>
</Layout>