---
import Layout from '../layouts/Prerelease.astro';
import { Icon } from 'astro-icon/components'
---

<Layout title="Shows  // GOVNRS">
  <div class="container flex flex-col max-w-mobileLayout h-full">
    <h1 class="flex flex-row justify-center uppercase font-Ftra text-light text-[1.5rem] text-olive">
      ...coming soon
    </h1>
  </div>
</Layout>w