---
interface Props {

}
---

<header class="text-xl font-medium uppercase font-vazirmatn width-full transition:persist">
  <nav>
    <ul class="flex flex-row justify-between px-8 py-2 list-none border-black width-full border-y-2">
      <li>
        <a href="/">GOVNRS</a>
      </li>
      <li>
        <a href="/music">Music</a>
      </li>
      <li>
        <a href="/events">Events</a>
      </li>
      <li>
        <a href="/store">Store</a>
      </li>
      <li>
        <a href="/contact">Contact</a>
      </li>
    </ul>
  </nav>
</header>