---
import Layout from '../../layouts/Layout.astro';
---

<Layout title="events // GOVNRS">
  <div>
    <p class="text-sm text-gray-900">
      <pre class="text-sm text-gray-900">coming soon</pre>
    </p>
  </div>
</Layout>